name: RSS Cron Job

on:
  schedule:
    - cron: "*/30 * * * *"
  workflow_dispatch:

jobs:
  call-api:
    runs-on: ubuntu-latest
    steps:
      - name: Call RSS API
        run: |
          curl -f -X GET \
          -H "Authorization: Bearer ${{ secrets.RSS_SECRET }}" \
          https://plainlyonline.vercel.app/api/rss-fetch